<footer class="bottom-footer">
        <div class="block">
                <div class="container">
                        <div class="row">
                                <div class="col-lg-3 column">
                                        <div class="widget">
                                                <div class="about_widget">
                                                        <div class="logo-footer">
                                                               <object type="image/svg+xml" data="images/JURISGO_couleur.svg" width="200" height="90"></object>
                                                        </div>
                                                        <span>816 avenue du campon, 06110 Le Cannet</span>
                                                        <span>contact@jurisgo.fr</span>
                                                </div><!-- About Widget -->
                                        </div>
                                </div>
                                <div class="col-lg-3 column">
                                        <div class="widget">
                                                <h3 class="footer-title">Liens utiles</h3>
                                                <div class="link_widgets">
                                                        <div class="row">
                                                                <div class="col-lg-12">
                                                                        <a href="#" title="">Mentions Légales</a>
                                                                        <a href="#" title="">Données Personnelles</a>
                                                                        <a href="#" title="">Confidentielles</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-lg-3 column">
                                        <div class="widget">
                                                <h3 class="footer-title">Liens externes</h3>
                                                <div class="link_widgets">
                                                        <div class="row">
                                                                <div class="col-lg-12">
                                                                        <a href="https://www.ajfr.fr" title="">AJFR</a>
                                                                        <a href="https://www.petitesaffiches.fr/" title="">Petites Affiches</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-lg-3 column">
                                        <div class="widget">
                                                <div class="download_widget">
                                                        <a href="#" title=""><img src="images/avotrech.png" alt="" /></a>
                                                        <!-- <a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="bottom-line">
                <!-- <span></span> -->
                <a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
        </div>
</footer>