<footer class="bottom-footer">
        <div class="block">
                <div class="container">
                        <div class="row">
                                <div class="col-lg-3 column">
                                        <div class="widget">
                                                <div class="about_widget">
                                                        <div class="logo">
                                                                <a href="#" title=""><img src="http://placehold.it/178x40"
                                                                                alt="" /></a>
                                                        </div>
                                                        <span>Collin Street West, Victor 8007, Australia.</span>
                                                        <span>+1 246-345-0695</span>
                                                        <span>info@jobhunt.com</span>
                                                        <div class="social">
                                                                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                                                                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                                                                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                                                                <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                                                <a href="#" title=""><i class="fa fa-behance"></i></a>
                                                        </div>
                                                </div><!-- About Widget -->
                                        </div>
                                </div>
                                <div class="col-lg-3 column">
                                        <div class="widget">
                                                <h3 class="footer-title">Liens utiles</h3>
                                                <div class="link_widgets">
                                                        <div class="row">
                                                                <div class="col-lg-12">
                                                                        <a href="#" title="">Mentions Légales</a>
                                                                        <a href="#" title="">Données Personnelles</a>
                                                                        <a href="#" title="">Confidentielles</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-lg-3 column">
                                        <div class="widget">
                                                <h3 class="footer-title">Liens externes</h3>
                                                <div class="link_widgets">
                                                        <div class="row">
                                                                <div class="col-lg-12">
                                                                        <a href="#" title="">InstantLink</a>
                                                                        <a href="#" title="">AJFR</a>
                                                                        <a href="#" title="">Petites Affiches</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-lg-3 column">
                                        <div class="widget">
                                                <div class="download_widget">
                                                        <a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
                                                        <a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="bottom-line">
                <span>© 2018 Jobhunt All rights reserved. Design by Creative Layers</span>
                <a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
        </div>
</footer>