<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jurisgo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-grid.css" />
	<link rel="stylesheet" href="stylesheets/icons.css">
	<link rel="stylesheet" href="stylesheets/animate.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/chosen.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/colors/colors.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />

</head>

<body>

	<div class="page-loading">
		<img src="images/loader.gif" alt="" />
		<span>Skip Loader</span>
	</div>

	<%- include header.ejs -%>
	<div class="account-popup-area" id="overlay-add-education">
		<div class="account-popup">
			<span class="close-popup candidate_resume_close_panel" id="candidate_resume_close_education"><i
					id="candidate_resume_close_education" class="la la-close"></i></span>
			<h3>Formations</h3>
			<div class="resumeadd-form">
				<div class="row">
					<div class="col-lg-12">
						<span class="df-title">Diplôme</span>
						<select id="popup-input-diploma-studies" data-placeholder="Bac" class="chosen">
							<option>Bac</option>
							<option>Bac Pro</option>
							<option>Etudes Supérieures</option>
							<option>AJFR</option>
							<option>ENADEP</option>
							<option>BTS</option>
							<option>DUT</option>
							<option>Classes Prépa</option>
							<option>Licence</option>
							<option>Master</option>
							<option>Doctorat</option>
							<option>Grandes Ecoles</option>
						</select>
					</div>
					<div class="col-lg-6">
						<span class="df-title">De</span>
						<div class="pf-field">
							<input id="popup-input-datestart-studies" placeholder="06.11.2007" type="date">
						</div>
					</div>
					<div class="col-lg-6">
						<span class="df-title">À</span>
						<div class="pf-field">
							<input id="popup-input-dateend-studies" placeholder="06.11.2012" type="date">
						</div>
					</div>
					<div class="col-lg-6">
						<span class="df-title">Institut</span>
						<div class="pf-field">
							<input id="popup-input-school-studies" type="text">
						</div>
					</div>
					<div class="col-lg-6">
						<span class="df-title">Filière</span>
						<div class="pf-field">
							<input id="popup-input-branch-studies" type="text">
						</div>
					</div>
					<div class="col-lg-12">
						<span class="df-title">Description</span>
						<div class="pf-field">
							<textarea id="popup-input-comment-studies" rows="4"></textarea>
						</div>
					</div>
					<div class="col-lg-12">
						<button id="popup-add-studies" type="submit">Ajouter</button>
					</div>
					<div class="col-lg-12">
						<button id="popup-update-studies" style="visibility: hidden;" type="submit">Mettre à
							jour</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="account-popup-area" id="overlay-add-experiences">
		<div class="account-popup">
			<span class="close-popup candidate_resume_close_panel" id="candidate_resume_close_experiences"><i
					id="candidate_resume_close_experiences" class="la la-close"></i></span>
			<h3>Expériences</h3>
			<div class="resumeadd-form">
				<div class="row">
					<div class="col-lg-12">
						<span class="df-title">Poste</span>
						<div class="pf-field">
							<input id="popup-input-function-experience" placeholder="Avocat" type="text">
						</div>
					</div>
					<div class="col-lg-6">
						<span class="df-title">De</span>
						<div class="pf-field">
							<input id="popup-input-datestart-experience" placeholder="06.11.2007" type="date"
								class="datepicker">
						</div>
					</div>
					<div class="col-lg-6">
						<span class="df-title">À</span>
						<div class="pf-field">
							<input id="popup-input-dateend-experience" placeholder="06.11.2012" type="date"
								class="datepicker">
						</div>
					</div>
					<div class="col-lg-12">
						<p class="remember-label">
							<input type="checkbox" name="cb" id="fgfg"><label for="fgfg">Aujourd'hui</label>
						</p>
					</div>
					<div class="col-lg-12">
						<span class="pf-title">Entreprise</span>
						<div class="pf-field">
							<input id="popup-input-company-experience" type="text">
						</div>
					</div>
					<div class="col-lg-12">
						<span class="pf-title">Description</span>
						<div class="pf-field">
							<textarea id="popup-input-comment-experience" rows="4"></textarea>
						</div>
					</div>
					<div class="col-lg-12">
						<button id="popup-add-experience" type="submit">Ajouter</button>
					</div>
					<div class="col-lg-12">
						<button id="popup-update-experience" style="visibility: hidden;" type="submit">Mettre à
							jour</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="account-popup-area" id="overlay-add-competencies">
		<div class="account-popup">
			<span class="close-popup candidate_resume_close_panel" id="candidate_resume_close_competencies"><i
					id="candidate_resume_close_competencies" class="la la-close"></i></span>
			<h3>Compétences</h3>
			<div class="resumeadd-form">
				<div class="row align-items-end">
					<div class="col-lg-8">
						<span class="df-title">Compétence</span>
						<div class="pf-field">
							<input id="popup-input-name-competencies" placeholder="Rédaction d'actes juridiques" type="text">
						</div>
					</div>
					<div class="col-lg-4">
						<span class="df-title">Pourcentage</span>
						<div class="pf-field">
							<input id="popup-input-percentage-competencies" placeholder="50%" max="100" min="1"
								type="number">
						</div>
					</div>
					<div class="col-lg-12">
						<button id="popup-add-competencies" type="submit">Ajouter</button>
					</div>
					<div class="col-lg-12">
						<button id="popup-update-competencies" style="visibility: hidden;" type="submit">Mettre à
							jour</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1"
				style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;"
				class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Renseigner votre CV</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row no-gape">
					<div class="col-lg-12 column">
						<div class="padding-left">
							<div class="manage-jobs-sec">
								<div class="border-title">
									<h3>Formations</h3><a id="candidate_resume_add_education"
										class="candidate_resume_open_panel"><i id="candidate_resume_add_education"
											class="la la-plus"></i> Ajouter une formation</a>
								</div>
								<div id="candidate-resume-studies" class="edu-history-sec">
								</div>
								<div class="border-title">
									<h3>Expériences professionnelles</h3><a id="candidate_resume_add_experiences"
										class="candidate_resume_open_panel"><i id="candidate_resume_add_experiences"
											class="la la-plus"></i> Ajouter une expérience professionnelle</a>
								</div>
								<div id="candidate-resume-experience" class="edu-history-sec">
								</div>
								<div class="border-title">
									<h3>Compétences</h3><a id="candidate_resume_add_competencies"
										class="candidate_resume_open_panel"><i id="candidate_resume_add_competencies"
											class="la la-plus"></i> Ajouter une compétence</a>
								</div>
								<div id="candidate-resume-percentage" class="progress-sec">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include bottom_footer.ejs -%>

	</div>

	<%- include sidebar.ejs -%>

	<script src="javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="javascripts/modernizr.js" type="text/javascript"></script>
	<script src="javascripts/script.js" type="text/javascript"></script>
	<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="javascripts/wow.min.js" type="text/javascript"></script>
	<script src="javascripts/slick.min.js" type="text/javascript"></script>
	<script src="javascripts/parallax.js" type="text/javascript"></script>
	<script src="javascripts/select-chosen.js" type="text/javascript"></script>
	<script src="javascripts/circle-progress.min.js" type="text/javascript"></script>
	<script src="javascripts/candidate_resume.js" type="text/javascript"></script>


</body>

</html>