<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>JurisGo, recrutement cabinet avocat, etude huissier, etude notaire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="robots" content="index,follow">
	<meta http-equiv="Content-Language" content="fr" />
	<meta name="description" content="Site internet de recrutement de collaborateurs dans les métiers du droit. Tous les emplois dans les cabinets d'avocats, Etudes de notaires et Etude d'huissiers. Moteur de matching pour trouver le profil le plus proche ou le plus adapté.">
	<meta http-equiv="Cache-control" content="public" />
	<meta name="copyright" content="Petites Affiches" />
	<meta name="dc.language" CONTENT="FR">
	<meta name="dc.source" CONTENT="https://www.jurisgo.fr/">
	<meta name="dc.relation" CONTENT="https://www.instantlink.fr/">
	<meta name="dc.title" CONTENT="JurisGo, recrutement cabinet avocat, etude huissier, etude notaire">
	<meta name="dc.keywords" CONTENT="vente, judiciaire, notariale, immobilier, appartement, maison, villa, propriété, demeure, adjudication">
	<meta name="dc.subject" CONTENT="Ventes aux enchères immobilières">
	<meta name="dc.description" CONTENT="Site internet de recrutement de collaborateurs dans les métiers du droit. Tous les emplois dans les cabinets d'avocats, Etudes de notaires et Etude d'huissiers. Moteur de matching pour trouver le profil le plus proche ou le plus adapté.">
	<meta property="og:title" content="JurisGo, recrutement cabinet avocat, etude huissier, etude notaire">
	<meta property="og:type" content="website">		
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:image" content="">
	<meta property="og:site_name" content="JurisGo, recru">
	<meta property="og:description" content="Site internet de recrutement de collaborateurs dans les métiers du droit. Tous les emplois dans les cabinets d'avocats, Etudes de notaires et Etude d'huissiers. Moteur de matching pour trouver le profil le plus proche ou le plus adapté.">
	<meta name="apple-itunes-app" content="app-id=1266718830">
	<meta name="google-play-app" content="app-id=fr.instantlink.jurisgo">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@go_juris" />
	<meta name="twitter:title" content="JurisGo, recrutement cabinet avocat, etude huissier, etude notaire" />
	<meta name="twitter:description" content="Site internet de recrutement de collaborateurs dans les métiers du droit. Tous les emplois dans les cabinets d'avocats, Etudes de notaires et Etude d'huissiers. Moteur de matching pour trouver le profil le plus proche ou le plus adapté." />
	<meta name="twitter:image" content="" />
	<meta name="twitter:image:alt" content="Recrutement en ligne de collaborateur juridique">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-grid.css" />
	<link rel="stylesheet" href="stylesheets/icons.css">
	<link rel="stylesheet" href="stylesheets/animate.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/chosen.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/colors/colors.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

	<div class="page-loading">
		<img src="images/loader.gif" alt="" />
		<span>Skip Loader</span>
	</div>

	<div class="theme-layout" id="scrollup">

		<%- include header.ejs -%>

		<section class="overlape">
			<div class="block no-padding">
				<div data-velocity="-.1"
					style="background: url(https://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;"
					class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
				<div class="container fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="inner-header">
								<h3>Editer votre profil</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div id="longitude" style="visibility: hidden;"></div>
		<div id="latitude" style="visibility: hidden;"></div>
		<section style="z-index:3;">
			<div class="block no-padding">
				<div class="container">
					<div class="row no-gape">
						<div class="col-lg-12 column">
							<div class="upload-img-bar">
								<span class="round"><img id="candidate_profile_picture" src="images/default_avatar.png"
										alt="" style="object-fit: cover;"/><i>x</i></span>
								<div class="upload-info">
									<label for="candidate_profile_image_download">
										<a>Parcourir</a>
										<input id="candidate_profile_image_download" type="file"
											accept="image/png, image/jpg" style="display:none">
									</label>
									<span id="datas_download">La taille maximale du fichier est de 1 Mo, la taille minimale: 270x210 et les
										extensions: .jpg & .png</span>
								</div>
							</div>
						</div>
						<div class="contact-edit">
							<div class="row">
								<div class="col-lg-6">
									<span class="pf-title">Nom</span>
									<span id="error_candidate_profile_lastname" class="pf-error">Nom invalide</span>
									<div class="pf-field">
										<input id="candidate_profile_lastname" type="text" placeholder="" />
									</div>
								</div>
								<div class="col-lg-6">
									<span class="pf-title">Prénom</span>
									<span id="error_candidate_profile_firstname" class="pf-error">Prénom invalide</span>
									<div class="pf-field">
										<input id="candidate_profile_firstname" type="text" placeholder="" />
									</div>
								</div>
								<div class="col-lg-6">
									<span class="pf-title">Date de naissance</span>
									<span id="error_candidate_profile_birthdate" class="pf-error">Date de naissance
										invalide</span>

									<div class="pf-field">
										<input id="candidate_profile_birthdate" type="date" />
									</div>
								</div>
								<div class="col-lg-6">
									<span class="pf-title">Adresse</span>
									<span id="error_candidate_profile_location" class="pf-error">Adresse invalide</span>
									<div class="pf-field">
										<input id="candidate_profile_location" type="text" placeholder="Adresse" />
										<i class="fa fa-map-marker-alt" id="candidate_profile_button_location"></i>
									</div>
								</div>
								<div class="col-lg-6">
									<span class="pf-title">Email</span>
									<span id="error_candidate_profile_email" class="pf-error">Email invalide</span>

									<div class="pf-field">
										<input id="candidate_profile_email" type="email"
											placeholder="exemple@exemple.com" />
									</div>
								</div>
								<div class="col-lg-6">
									<span class="pf-title">Téléphone</span>
									<span id="error_candidate_profile_phone" class="pf-error">Téléphone invalide</span>
									<div class="pf-field">
										<input id="candidate_profile_phone" type="text" placeholder="" />
									</div>
								</div>
								<div class="col-lg-6">
									<span class="pf-title">Contrat</span>
									<span id="error_candidate_profile_contract" class="pf-error">Contrat invalide</span>
									<div class="pf-field">
										<select id="candidate_profile_contract" data-placeholder="Tout"
											class="chosen" style="z-index: 5;">
											<option>Tout</option>
											<option>Alternance</option>
											<option>CDD</option>
											<option>CDI</option>
											<option>Collaboration</option>
											<option>Indépendant</option>
											<option>Professionnalisation</option>
											<option>Postulation</option>
											<option>Stage</option>
										</select>
									</div>
								</div>
								<div class="col-lg-6">
									<span class="pf-title">Disponibilité</span>
									<span id="error_candidate_profile_freedom" class="pf-error">Disponibilité
										invalide</span>
									<div class="pf-field">
										<select id="candidate_profile_freedom" data-placeholder="Disponibilité"
											class="chosen">
											<option>Immédiatement</option>
											<option>1 mois</option>
											<option>2 mois</option>
											<option>3 mois</option>
											<option>Ne sais pas</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12" style="margin-top:20px;">
									<button id="candidate_profile_button" type="submit" style="float:right;">Mettre à jour</button>
									<button id="candidate_desactivate" type="submit"style="float: left;">Désactiver le compte</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	</section>
	<%- include bottom_footer.ejs -%>

	</div>

	<%- include sidebar.ejs -%>

	<script src="javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="javascripts/modernizr.js" type="text/javascript"></script>
	<script src="javascripts/script.js" type="text/javascript"></script>
	<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="javascripts/wow.min.js" type="text/javascript"></script>
	<script src="javascripts/slick.min.js" type="text/javascript"></script>
	<script src="javascripts/parallax.js" type="text/javascript"></script>
	<script src="javascripts/select-chosen.js" type="text/javascript"></script>
	<script src="javascripts/circle-progress.min.js" type="text/javascript"></script>
	<script src="javascripts/tag.js" type="text/javascript"></script>
	<script src="javascripts/candidate_profile.js" type="text/javascript"></script>

</body>

</html>