<div class="account-popup-area signin-popup-box">
        <div class="account-popup">
                <span class="close-popup"><i class="la la-close"></i></span>
                <h3>Connexion</h3>
                <!-- <span>Click To Login With Demo User</span>
                <div class="select-user">
                        <span>Candidate</span>
                        <span>Employer</span>
                </div> -->
                <form>
                        <div class="cfield">
                                <input id="mail_connexion" type="text" placeholder="Email" />
                                <i class="la la-envelope-o"></i>
                        </div>
                        <div class="cfield">
                                <input id="password_connexion" type="password" placeholder="Mot de passe" />
                                <i class="la la-key"></i>
                        </div>
                        <p class="remember-label">
                                <input type="checkbox" name="cb" id="cb1"><label for="cb1">Rester Connecté</label>
                        </p>
                        <a href="#" title="">Mot de passe oublié ?</a>
                        <button id="button_connexion" type="submit">Connexion</button>
                </form>
                <!-- <div class="extra-login">
                        <span>Or</span>
                        <div class="login-social">
                                <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                                <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
                        </div>
                </div> -->
        </div>
</div><!-- LOGIN POPUP -->

<div class="account-popup-area signup-popup-box">
        <div class="account-popup">
                <span class="close-popup"><i class="la la-close"></i></span>
                <h3>Créer un compte</h3>
                <form>
                        <div class="cfield">
                                <input id="firstname_create_account" type="text" placeholder="Prénom" />
                                <i class="la la-user"></i>
                        </div>
                        <div class="cfield">
                                <input id="lastname_create_account"type="text" placeholder="Nom" />
                                <i class="la la-user"></i>
                        </div>
                        <div class="cfield">
                                <input id="phone_create_account"type="text" placeholder="Téléphone" />
                                <i class="la la-phone"></i>
                        </div>
                        <div class="cfield">
                                <input id="mail_create_account"type="text" placeholder="Email" />
                                <i class="la la-envelope-o"></i>
                        </div>
                        <div class="cfield">
                                <input id="password_create_account"type="password" placeholder="Mot de passe" />
                                <i class="la la-key"></i>
                        </div>
                        <div class="cfield">
                                <input id="confirm_password_create_account" type="password" placeholder="Confirmez le mot de passe" />
                                <i class="la la-key"></i>
                        </div>
                        <div class="dropdown-field">
                                        <select id="genre_create_account" data-placeholder="Genre" class="chosen">
                                                <option>Homme</option>
                                                <option>Femme</option>
                                                <option>Autres</option>
                                        </select>
                                </div>
                        <div class="dropdown-field">
                                <select id="type_create_account" data-placeholder="Votre type" class="chosen">
                                        <option>Plante</option>
                                        <option>Feu</option>
                                        <option>Psy</option>
                                        <option>Eau</option>
                                </select>
                        </div>
                        <button id="button_create_account" type="submit">Créer un compte</button>
                </form>
                <!-- <div class="extra-login">
                        <span>Or</span>
                        <div class="login-social">
                                <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                                <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
                        </div>
                </div> -->
        </div>
</div><!-- SIGNUP POPUP -->