<div class="responsive-header">
        <div class="responsive-menubar">
                <div class="res-logo"><a href="/home" title=""><object type="image/svg+xml" data="images/jurisgoo.svg" width="75" height="75"></object></a></div>
                <div class="my-profiles-sec">
                        <span id="header-user-name-responsive"><img src="images/default_avatar.png" alt="" /><i class="la la-bars"></i></span>
                </div>
        </div>
</div>

<header class="stick-top">
        <div class="menu-sec">
                <div class="container">
                        <div class="logo">
                                <a href="home" title=""><object type="image/svg+xml" data="images/jurisgoo.svg" width="75" height="75"></object></a>

                                <!-- <a href="home" title=""><img src="images/jurisgo_aplat_crop.png" alt="" /></a> -->
                        </div><!-- Logo -->
                        <div class="my-profiles-sec">
                                <span id="header-user-name"></span>
                        </div>
                </div>
        </div>
</header>