<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jurisgo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-grid.css" />
	<link rel="stylesheet" href="stylesheets/icons.css">
	<link rel="stylesheet" href="stylesheets/animate.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/chosen.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/colors/colors.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	 crossorigin="anonymous">


</head>

<body>

	<div class="page-loading">
		<img src="images/loader.gif" alt="" />
		<span>Skip Loader</span>
	</div>

	<div class="theme-layout" id="scrollup">

		<%- include header.ejs -%>

		<section class="overlape">
			<div class="block no-padding">
				<div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;"
				 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
				<div class="container fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="inner-header">
								<h3>Votre profil</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div id="longitude" style="display: none;"></div>
		<div id="latitude" style="display: none;"></div>
		<section style="z-index:3;">
			<div class="block no-padding">
				<div class="container">
					<div class="row no-gape">
						<div class="col-lg-12 column">
							<div class="padding-left">
								<div class="profile-title" id="mp">
									<div class="upload-img-bar">
										<span><img id="recruiter_profile_picture" src="http://placehold.it/160x138" alt="" /><i>x</i></span>
										<div class="upload-info">
											<label for="recruiter_profile_image_download">
												<a>Parcourir</a>
												<input id="recruiter_profile_image_download" type="file" accept="image/png, image/jpg" style="display:none">
											</label>
											<span>La taille maximale du fichier est de 1 Mo, la taille minimale: 270x210 et les extensions: .jpg & .png</span>
										</div>
									</div>
								</div>
								<div class="profile-form-edit">
									<form>
										<div class="row">
											<div class="col-lg-12">
												<span class="pf-title">Nom de l'entreprise</span>
												<div class="pf-field">
													<input id="recruiter_profile_company" type="text" placeholder="Tera Planer" />
												</div>
											</div>
											<div class="col-lg-9">
												<span class="pf-title">Secteur d'activité</span>
												<div class="pf-field">
													<select data-placeholder="Choisissez un secteur" class="chosen">
														<option>Droit bancaire et boursier</option>
														<option>Droit commercial, des affaires et la concurrence</option>
														<option>Droit de l'environnement</option>
														<option>Droit de la famille, des personnes et de leur patrimoine</option>
														<option>Droit de la santé</option>
														<option>Droit de la sécurité sociale et de la protection sociale</option>
														<option>Droit des assurances</option>
														<option>Droit des garanties, des sûretés et des mesures d'exécution</option>
														<option>Droit des nouvelles technologies, l'informatique et la communication</option>
														<option>Droit des sociétés</option>
														<option>Droit du crédit et de la consommation</option>
														<option>Droit du dommage corporel</option>
														<option>Droit du travail</option>
														<option>Droit fiscal et droit douanier</option>
														<option>Droit immobilier</option>
														<option>Droit pénal</option>
														<option>Droit public</option>
														<option>Généraliste</option>
													</select>
												</div>
											</div>
											<div class="col-lg-3">
												<span class="pf-title">Taille de l'entreprise</span>
												<div class="pf-field">
													<input id="recruiter_profile_size" type="text" placeholder="100 - 201" />
												</div>
											</div>
											<div class="col-lg-12">
												<span class="pf-title">Description</span>
												<div class="pf-field">
													<textarea id="recruiter_profile_comment"></textarea>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="social-edit" id="ci">
									<h3>Contact</h3>
									<form>
										<div class="row">
											<div class="col-lg-6">
												<span class="pf-title">Téléphone</span>
												<div class="pf-field">
													<input id="recruiter_profile_phone" type="text" placeholder="06 00 00 00 00" />
												</div>
											</div>
											<div class="col-lg-6">
												<span class="pf-title">Email</span>
												<div class="pf-field">
													<input id="recruiter_profile_mail" type="text" placeholder="demo@demo.com" />
												</div>
											</div>
											<div class="col-lg-6">
												<span class="pf-title">Site web</span>
												<div class="pf-field">
													<input id="recruiter_profile_website" type="text" placeholder="www.demo.com" />
												</div>
											</div>
											<div class="col-lg-6">
												<span class="pf-title">Fax</span>
												<div class="pf-field">
													<input id="recruiter_profile_fax" type="text" placeholder="05 00 00 00 00" />
												</div>
											</div>
											<div class="col-lg-12">
												<span class="pf-title">Adresse</span>
												<div class="pf-field">
													<input id="recruiter_profile_location" type="text" placeholder="Adresse" />
													<i class="fa fa-map-marker-alt" id="recruiter_profile_button_location"></i>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="contact-edit" id="sn" style="margin-bottom: 60px;">
									<h3>Reseaux Sociaux</h3>
									<form>
										<div class="row">
											<div class="col-lg-4">
												<span class="pf-title">Linkedin</span>
												<div class="pf-field">
													<input id="recruiter_profile_linkedin" type="text" placeholder="www.Linkedin.com/TeraPlaner" />
													<i class="la la-linkedin"></i>
												</div>
											</div>
											<div class="col-lg-4">
												<span class="pf-title">Twitter</span>
												<div class="pf-field">
													<input id="recruiter_profile_twitter" type="text" placeholder="www.twitter.com/TeraPlaner" />
													<i class="fab fa-twitter"></i>
												</div>
											</div>
											<div class="col-lg-4">
												<span class="pf-title">Facebook</span>
												<div class="pf-field">
													<input id="recruiter_profile_facebook" type="text" placeholder="www.facebook.com/TeraPlaner" />
													<i class="fab fa-facebook-f"></i>
												</div>
											</div>
											<div class="col-lg-12">
												<button id="recruiter_profile_button" type="submit">Mettre à jour</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include bottom_footer.ejs -%>
	</div>

	<%- include sidebar.ejs -%>

	<script src="javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="javascripts/modernizr.js" type="text/javascript"></script>
	<script src="javascripts/script.js" type="text/javascript"></script>
	<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="javascripts/wow.min.js" type="text/javascript"></script>
	<script src="javascripts/slick.min.js" type="text/javascript"></script>
	<script src="javascripts/parallax.js" type="text/javascript"></script>
	<script src="javascripts/select-chosen.js" type="text/javascript"></script>
	<script src="javascripts/tag.js" type="text/javascript"></script>
	<script src="javascripts/recruiter_profile.js" type="text/javascript"></script>
</body>

</html>