<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>JurisGo, recrutement cabinet avocat, etude huissier, etude notaire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="robots" content="index,follow">
	<meta http-equiv="Content-Language" content="fr" />
	<meta name="description" content="Site internet de recrutement de collaborateurs dans les métiers du droit. Tous les emplois dans les cabinets d'avocats, Etudes de notaires et Etude d'huissiers. Moteur de matching pour trouver le profil le plus proche ou le plus adapté.">
	<meta http-equiv="Cache-control" content="public" />
	<meta name="copyright" content="Petites Affiches" />
	<meta name="dc.language" CONTENT="FR">
	<meta name="dc.source" CONTENT="https://www.jurisgo.fr/">
	<meta name="dc.relation" CONTENT="https://www.instantlink.fr/">
	<meta name="dc.title" CONTENT="JurisGo, recrutement cabinet avocat, etude huissier, etude notaire">
	<meta name="dc.keywords" CONTENT="vente, judiciaire, notariale, immobilier, appartement, maison, villa, propriété, demeure, adjudication">
	<meta name="dc.subject" CONTENT="Ventes aux enchères immobilières">
	<meta name="dc.description" CONTENT="Site internet de recrutement de collaborateurs dans les métiers du droit. Tous les emplois dans les cabinets d'avocats, Etudes de notaires et Etude d'huissiers. Moteur de matching pour trouver le profil le plus proche ou le plus adapté.">
	<meta property="og:title" content="JurisGo, recrutement cabinet avocat, etude huissier, etude notaire">
	<meta property="og:type" content="website">		
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:image" content="">
	<meta property="og:site_name" content="JurisGo, recru">
	<meta property="og:description" content="Site internet de recrutement de collaborateurs dans les métiers du droit. Tous les emplois dans les cabinets d'avocats, Etudes de notaires et Etude d'huissiers. Moteur de matching pour trouver le profil le plus proche ou le plus adapté.">
	<meta name="apple-itunes-app" content="app-id=1266718830">
	<meta name="google-play-app" content="app-id=fr.instantlink.jurisgo">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@go_juris" />
	<meta name="twitter:title" content="JurisGo, recrutement cabinet avocat, etude huissier, etude notaire" />
	<meta name="twitter:description" content="Site internet de recrutement de collaborateurs dans les métiers du droit. Tous les emplois dans les cabinets d'avocats, Etudes de notaires et Etude d'huissiers. Moteur de matching pour trouver le profil le plus proche ou le plus adapté." />
	<meta name="twitter:image" content="" />
	<meta name="twitter:image:alt" content="Recrutement en ligne de collaborateur juridique">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-grid.css" />
	<link rel="stylesheet" href="stylesheets/icons.css">
	<link rel="stylesheet" href="stylesheets/animate.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/chosen.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/colors/colors.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
	
</head>
<body>

<div class="page-loading">
	<img src="images/loader.gif" alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">
	
	<%- include header.ejs -%>

	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(https://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Liste des offres</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
				 	<div class="col-lg-12 column">
				 		<div class="padding-left">
					 		<div class="manage-jobs-sec">
					 			<h3>Vos offres</h3>
						 		<table>
						 			<thead>
						 				<tr>
						 					<td>Poste</td>
						 					<td>Début du contrat</td>
						 					<td>Statut</td>
						 					<td>Actions</td>
						 				</tr>
						 			</thead>
						 			<tbody id="recruiters-jobs-list">
						 			</tbody>
						 		</table>
					 		</div>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>
	<%- include bottom_footer.ejs -%>

</div>
	<%- include sidebar.ejs -%>

<script src="javascripts/jquery.min.js" type="text/javascript"></script>
<script src="javascripts/modernizr.js" type="text/javascript"></script>
<script src="javascripts/script.js" type="text/javascript"></script>
<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
<script src="javascripts/wow.min.js" type="text/javascript"></script>
<script src="javascripts/slick.min.js" type="text/javascript"></script>
<script src="javascripts/parallax.js" type="text/javascript"></script>
<script src="javascripts/select-chosen.js" type="text/javascript"></script>
<script src="javascripts/recruiter_jobs.js" type="text/javascript"></script>


</body>
</html>

