<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>JurisGo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-grid.css" />
	<link rel="stylesheet" href="stylesheets/icons.css">
	<link rel="stylesheet" href="stylesheets/animate.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/chosen.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/colors/colors.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />

</head>

<body>

	<div class="page-loading">
		<img src="images/loader.gif" alt="" />
		<span>Skip Loader</span>
	</div>

	<div class="theme-layout" id="scrollup">

		<%- include header.ejs -%>

		<section class="overlape">
			<div class="block no-padding">
				<div data-velocity="-.1"
					style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;"
					class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
				<div class="container fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="inner-header">
								<h3 id="welcome-user">Nouvelle offre</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="block no-padding">
				<div class="container">
					<div class="row no-gape">
						<div class="col-lg-12 column">
							<div class="padding-left">
								<div class="profile-form-edit">
									<div class="test">
										<div class="row">
											<div class="col-lg-12">
												<span class="pf-title">Titre du job</span>
												<div class="pf-field">
													<select id="job-add-title" data-placeholder="Avocat" class="chosen">
														<option>Avocat</option>
														<option>Avocat postulant</option>
														<option>Avocat collaborateur</option>
														<option>Clerc</option>
														<option>Community manager</option>
														<option>Développeur web</option>
														<option>Directeur juridique</option>
														<option>Documentaliste</option>
														<option>Elève avocat</option>
														<option>Formaliste</option>
														<option>Gestionnaire de facturation / Comptable</option>
														<option>Hôte(esse) d'accueil / Standardiste</option>
														<option>Juriste</option>
														<option>Responsable juridique</option>
														<option>Secrétaire / Assistante juridique</option>
														<option>Stagiaire juridique</option>
													</select>
												</div>
											</div>
											<div class="col-lg-12">
												<span class="pf-title">Description</span>
												<div class="pf-field">
													<textarea id="job-add-comment"></textarea>
												</div>
											</div>
											<div class="col-lg-6">
												<span class="pf-title">Contrat</span>
												<div class="pf-field">
													<select id="job-add-contract" data-placeholder="Tout"
														class="chosen">
														<option>Tout</option>
														<option>Alternance</option>
														<option>CDD</option>
														<option>CDI</option>
														<option>Collaboration</option>
														<option>Indépendant</option>
														<option>Professionnalisation</option>
														<option>Postulation</option>
														<option>Stage</option>
													</select>
												</div>
											</div>
											<div class="col-lg-6">
												<span class="pf-title">Secteur</span>
												<div class="pf-field">
													<input id="job-add-sector" type="text" />
												</div>
											</div>
											<div class="col-lg-6">
												<span class="pf-title">Expérience (années)</span>
												<div class="pf-field">
													<input id="job-add-experience" type="number" />
												</div>
											</div>
											<div class="col-lg-6">
												<span class="pf-title">Salaire annuel brut / coût horaire</span>
												<div class="pf-field">
													<input id="job-add-salary" type="text" />
												</div>
											</div>
											<div class="col-lg-12">
												<span class="pf-title">Date de début</span>
												<div class="pf-field">
													<input id="job-add-date-start" type="date"
														placeholder="20/02/2018" />
												</div>
											</div>
											<div class="col-lg-12">
												<span class="pf-title">Compétences souhaités</span>
												<div class="pf-field">
													<ul id="job-add-skills" class="tags">
														<li class="addedTag">Photoshop<span
																class="tagRemove">x</span><input type="hidden"
																name="tags[]" id="skill-add-input-0" value="Photoshop">
														</li>
														<li class="tagAdd taglist">
															<input type="text" id="search-field">
														</li>
													</ul>
												</div>
											</div>
											<div class="col-lg-12">
												<span class="pf-title">Adresse complète</span>
												<div class="pf-field ui-widget">
													<input id="job-add-adress" type="text">
												</div>
											</div>
										</div>
										<div class="container">
											<div class="col-lg-12">
												<button id="draft" class="job-add-button" style="float:left;"
													type="submit">Enregistrer un brouillon</button>
												<button id="active" class="job-add-button" style="float:right;"
													type="submit">Publier</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include bottom_footer.ejs -%>

	</div>

	<%- include sidebar.ejs -%>

	<script src="javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="javascripts/modernizr.js" type="text/javascript"></script>
	<script src="javascripts/script.js" type="text/javascript"></script>
	<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="javascripts/wow.min.js" type="text/javascript"></script>
	<script src="javascripts/slick.min.js" type="text/javascript"></script>
	<script src="javascripts/parallax.js" type="text/javascript"></script>
	<script src="javascripts/select-chosen.js" type="text/javascript"></script>
	<script src="javascripts/tag.js" type="text/javascript"></script>
	<script src="javascripts/recruiter_jobs_add.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
</body>

</html>