<div class="profile-sidebar">
	<span class="close-profile"><i class="la la-close"></i></span>
	<div class="can-detail-s">
		<div class="cst"><img src="http://placehold.it/145x145" alt="" /></div>
		<h3 id="sidebar-user-name"></h3>
		<span><i>UX / UI Designer</i> at Atract Solutions</span>
		<p>creativelayers088@gmail.com</p>
		<p>Member Since, 2017</p>
		<p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
	</div>
	<div class="tree_widget-sec">
		<ul>
		        <li><a href="candidate_profile" title=""><i class="la la-file-text"></i>Mon Profil</a></li>
			<li><a href="candidate_resume" title=""><i class="la la-briefcase"></i>Mon Résumé</a></li>
		        <li><a href="candidates_shortlist.html" title=""><i class="la la-money"></i>Shorlisted Job</a></li>
			<li><a href="candidates_applied_jobs.html" title=""><i class="la la-paper-plane"></i>Applied Job</a></li>
			<li><a href="candidates_job_alert.html" title=""><i class="la la-user"></i>Job Alerts</a></li>
			<li><a href="candidates_cv_cover_letter.html" title=""><i class="la la-file-text"></i>Cv & Cover Letter</a></li>
			<li><a href="candidates_change_password.html" title=""><i class="la la-flash"></i>Change Password</a></li>
			<li><a id="sidebar-logout"><i id="sidebar-logout" class="la la-unlink"></i>Déconnexion</a></li>
		</ul>
	</div>
</div>
<script src="javascripts/sidebar.js" type="text/javascript"></script>
