<div class="profile-sidebar">
	<span class="close-profile"><i class="la la-close"></i></span>
	<div class="can-detail-s">
		<div class="cst"><img id="image-user-sidebar"src="http://placehold.it/145x145" alt="" /></div>
		<h3 id="sidebar-user-name"></h3>
	</div>
	<div class="tree_widget-sec">
		<ul>
		        <li><a href="candidate_profile" title=""><i class="la la-file-text"></i>Mon Profil</a></li>
			<li id="sidebar-button-resume"><a href="candidate_resume" title=""><i class="la la-briefcase"></i>Mon CV</a></li>
			<li id="sidebar-button-jobs"><a href="recruiter_jobs" title=""><i class="la la-briefcase"></i>Mes jobs</a></li>
			<li id="sidebar-button-jobs-add"><a href="recruiter_jobs_add" title=""><i class="la la-briefcase"></i>Créer un job</a></li>
			<li id="sidebar-button-favorite"><a href="recruiter_favorite" title=""><i class="la la-bookmark"></i>Mes favoris</a></li>
			<li id="sidebar-button-interview-candidate"><a href="candidate_appointment" title=""><i class="la la-bookmark"></i>Mes rendez-vous</a></li>
			<li id="sidebar-button-interview-recruiter"><a href="recruiter_appointment" title=""><i class="la la-bookmark"></i>Mes rendez-vous</a></li>
			<li id="sidebar-button-jobs-pricing"><a href="recruiter_jobs_pricing" title=""><i class="la la-money"></i>Voir les offres</a></li>
			<li><a id="sidebar-logout"><i id="sidebar-logout" class="la la-unlink"></i>Déconnexion</a></li>
		</ul>
	</div>
</div>