<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jobhunt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-grid.css" />
	<link rel="stylesheet" href="stylesheets/icons.css">
	<link rel="stylesheet" href="stylesheets/animate.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/chosen.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/colors/colors.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />

</head>

<body>

	<div class="page-loading">
		<img src="images/loader.gif" alt="" />
		<span>Skip Loader</span>
	</div>

	<div class="theme-layout" id="scrollup">

		<%- include header.ejs -%>

		<section>
			<div class="block no-padding  gray">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="inner2">
								<div class="inner-title2">
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="terms-conditions">
								<div class="terms">
									<h3>ARTICLE 1. DEFINITIONS</h3>
									<p>Les termes suivants, commençant par une lettre capitale, qu'ils soient employés
										au singulier ou au pluriel dans les présentes auront toujours la définition
										suivante :

										(i) « AJFR » : désigne la société ASSISTANCE-JURIDIQUE-FORMATION-RECRUTEMENT,
										société à responsabilité limitée unipersonnelle au capital de 1.000,00 euros,
										immatriculée au Registre du Commerce et des Sociétés de NICE sous le numéro 817
										441 405, dont le siège social est situé sis 16 Boulevard Armée des Alpes – Bât
										A- 06300 NICE, représentée par sa Gérante en exercice, Madame Barbara GHIGI ;

										(ii) « Application » : désigne l’application mobile pour smartphones « Juris’Go
										» développée et éditée par AJFR, disponible en téléchargement sur l’Application
										Apple Store, pour laquelle le Client bénéficient d’une licence d’utilisation
										concédée par AJFR ;

										(iii) « Candidat » : désigne toute personne physique, titulaire d’un compte
										candidat, qui se connecte à l’Application mobile en vue de répondre aux annonces
										d’emploi proposées par le Client et bénéficiant à ce titre d’une licence
										d’utilisation concédée par AJFR dans le cadre des CGU ;
										(iv) « Client » : désigne tout professionnel, personne morale ou personne
										physique majeure, qui souscrit à une Offre et accepte la Confirmation de
										Commande ;

										(v) « Commande » : désigne tout demande, qu’elle qu’en soit la forme, la nature
										ou le support passée par le Client auprès d’AJFR et précisant la nature et la
										quantité des Services ;

										(vi) « Compte Client » : désigne le compte créé par le Client sur l’Application,
										conformément à la procédure de création de compte décrite au CGU, et à partir
										duquel le Client peut souscrire à une Offre et accéder aux Services, selon les
										termes et conditions ci-après ;

										(vii) « Conditions Générales d’Utilisation » : désigne l’ensemble des règles et
										conditions d’utilisation de l’Application et des Services par le Client,
										(ci-après les « CGU ») avec lesquelles les CGS forme un tout ;

										(viii) « Confirmation de Commande » : désigne tout document écrit quelle qu’en
										soit la forme ou la nature, contenant les modalités tarifaires ainsi que les
										conditions commerciales spécifiques applicables au Client, récapitulées et
										envoyées par email à ce dernier, et qui décrit l’Offre et les Services
										effectivement souscrits par le Client. Sauf stipulations contraires expresses,
										les stipulations incluses dans la Confirmation de Commande prévaudront sur les
										présentes Conditions Générales de Services (ci-après les « CGS ») en cas de
										contrariété ;

										(ix) « Contrat » : désigne les présentes CGS, la Confirmation de Commande ainsi
										que les CGU, et les amendements à ces différents documents, ces derniers formant
										un tout indivisible, l’acceptation de la Confirmation de Commande constituant
										l’acceptation de ces CGS ;

										(x) « Documentation » : désigne la documentation écrite accompagnant
										l’Application, en particulier les manuels d’instructions et les recommandations
										d’utilisation de l’Application fournie au Client par AJFR sur l’Application, qui
										en est titulaire exclusive ;

										(xi) Données : désignent toutes les données et contenu renseignés par le Client
										dans le cadre de l’utilisation des Services, sur lesquelles ce dernier détient
										ou non un droit de propriété intellectuelle à l’exclusion expresse de toute
										données appartenant à l’Utilisateur ;

										(xii) « Environnement du Client » : désigne la configuration matérielle et
										logicielle du Client avec lesquels les Services fournis par l’Application
										peuvent interagir (navigateur internet du Client, système d’exploitation, base
										de données, système de gestion des bases de données, etc.) ;
										(xiii) « Heures/Jours Ouvrés » : désigne les heures comprises entre 09H00 et
										18H00, heure française, du lundi au vendredi, hors week-end et jours fériés
										français ;

										(xiv) « Offre » : désigne toutes les offres d'abonnement à l’Application
										proposées par AJFR au Client, telles que décrites sur l’Application, qui
										permettent à ce dernier d’avoir accès aux coordonnées complètes des Candidats,
										grâce à la Licence décrite à l'Article 8 ci-après, pour la durée et selon les
										termes et conditions de ces CGS et de la Confirmation de Commande ;

										(xv) « Parties » : désigne les parties soussignées (le Client et AJFR) dont
										l’identification légale est précisée dans la Confirmation de Commande ;

										(xvi) « Tiers » : désigne toutes personnes (physiques ou morales) autres que les
										Parties soussignées ;

										(xvii) « Services » : désigne l’ensemble des services, qui sont décrits plus
										précisément sur l’Application, qu’AJFR s’engage à fournir au Client grâce à
										l’Application et en fonction de l’Offre effectivement souscrite par ce dernier
										dans la Confirmation de Commande, dans les conditions et modalités des CGS ;</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 2. CHAMP D’APPLICATION</h3>
									<p>Les présentes CGS sont applicables à toutes les concessions de licence et
										Services commercialisés par AJFR et proposés au Client sur l’Application. En
										effet, les stipulations contenues aux présentes CGS sont applicables, en
										fonction des Services effectivement souscrits par le Client, à tout élément du
										Contrat (CGS, Confirmation de Commande, CGU, devis et actes associés), relatif
										aux objets précités, passé entre AJFR et le Client, en France ou à l'étranger.

										Les présentes CGS prévalent sur toute condition d’achat ou tout autre document
										émanant du Client, sauf dérogation formelle et expresse d’AJFR. En conséquence,
										toute condition contraire posée par le Client sera inopposable à AJFR quel que
										soit le moment où elle aura pu être portée à sa connaissance, sauf acceptation
										expresse par AJFR matérialisée à la Confirmation de Commande. Ces CGS
										constituent un élément essentiel de l'acceptation de contracter d’AJFR.

										Le fait de passer une Commande implique l’adhésion entière et sans réserve du
										Client aux présentes CGS.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 3. PRISE D’EFFET – DUREE</h3>
									<p>Ce Contrat prend effet au jour de la date de souscription effective du Client aux
										Services, matérialisée par son acceptation de la Confirmation de Commande, et
										poursuivra ses effets pendant la durée prévue de l’Offre souscrite par le Client
										telle que précisée à la Confirmation de Commande</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 4. FORMATION DU CONTRAT</h3>
									<p>L’acceptation de la Confirmation de Commande par le Client (ci-après «
										l’Acceptation ») vaut commande ferme et définitive auprès d’AJFR. Le bénéfice de
										la Commande est personnel au Client et ne peut être cédé sans l’accord préalable
										et écrit d’AJFR.

										Toute demande de modification ou de résolution de la Commande demandée par le
										Client ne peut être prise en considération qu'avec l'accord exprès d’AJFR et si
										elle est parvenue par écrit à l’adresse postale ou email indiquée sur
										l’Application.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 5. EVOLUTIONS</h3>
									<p>AJFR se réserve le droit de modifier les présentes CGS, selon l’évolution
										technique de l’Application ou de ses offres de Services, ou en raison de
										l’évolution de la législation, à sa seule discrétion. Dès lors que des points
										essentiels touchant à la délivrance des Services viendraient à être modifiés, il
										sera demandé au Client, à l’occasion de toute nouvelle Commande, de lire et
										d’approuver lesdites nouvelles CGS.

										D’une manière générale, l’utilisation de l’Application, ainsi que la délivrance
										des Services au Client sont toujours soumises à la version la plus récente des
										CGS postées sur le Site et accessibles au Client au moment de son utilisation de
										l’Application. Il lui appartient de consulter aussi souvent que nécessaire les
										CGS accessibles dans la zone qui lui est réservée.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 6. TERRITOIRE</h3>
									<p>L’Application est ouverte à tous les pays du monde.

										Dans l’hypothèse où l’Application, les Services qu’elle propose ou la manière
										dont ils sont proposés seraient, en tout ou partie, illégaux au regard du droit
										national de résidence du Client, il appartient à ce dernier de renoncer à y
										accéder à partir de ce territoire ou d’y accéder depuis d'autres territoires où
										ils sont réputés légaux. Le Client qui choisit d'accéder à l’Application depuis
										un territoire où il est réputé en tout ou partie illégal, le fait de sa propre
										initiative, à ses risques et périls et il lui incombe d’assumer les conséquences
										de l’application des règles d’ordre public de son pays de résidence, sans en
										imputer la responsabilité à AJFR.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 7. COMMANDE</h3>
									<h2>7.1. Description des Services</h2>
									<p>Les Services susceptibles de constituer une Offre d’AJFR sont détaillés sur
										l’Application.

										Toute Offre souscrite par le Client est valide et personnelle au Client et n’est
										pas substituable à un Tiers.</p>
									<h2>7.2. Souscription</h2>
									<p>Toute souscription aux Services effectuée auprès d’AJFR vaut Acceptation et
										implique, de la part du Client, un engagement définitif d’en payer le prix ainsi
										que l’acceptation sans réserve de l’intégralité du Contrat.

										Cette souscription est également soumise au paiement du prix selon les
										dispositions prévues à l’Article 14 des présentes CGS.

										Toutefois, les Commande ne deviennent fermes et définitives que lorsqu’elles ont
										été confirmées par AJFR par la procédure en ligne décrite à l’Article 7.3
										ci-après.</p>
									<h2>7.3. Confirmation de Commande</h2>
									<p>Une fois que le client a sélectionné l'Offre, une Confirmation de Commande
										apparaît sur l’Application. Ladite Confirmation de Commande contient un résumé
										des Services sélectionnés par le Client et invite celui-ci à procéder au
										paiement selon la procédure et dans les conditions et modalités indiquées à
										l’Article 11.2 ci-après.

										Dès Acceptation, le Client s'engage à payer les montants correspondant aux
										Services souscrits conformément à la Commande, aux présentes CGS et à la
										Confirmation de Commande.</p>

								</div>
								<div class="terms">
									<h3>ARTICLE 8. REGIME DE CONCESSION DE L’APPLICATION</h3>
									<p>Les articles ci-dessous présentent les règles spéciales régissant la Licence
										concédée au Client, étant précisé que les autres stipulations plus générales des
										présentes CGS sont également applicables à ladite concession dont elles sont le
										complément nécessaire.

										Dans le cadre de l’utilisation de l’Application, le Client devra se conformer à
										la procédure indiquée et aux règles d’utilisation indiquée aux CGU. Par
										ailleurs, outre ce qui est stipulé aux présentes, le Client s’engage à respecter
										l’ensemble des règles d’utilisation énoncées par AJFR sur l’Application, sa
										Documentation et à lui garantir l’accès et le droit d’user des informations,
										Données, infrastructures et autres actifs immatériels nécessaires à la
										délivrance des Services dispensés par l’Application, dans les conditions
										convenues ci-après et à la Confirmation de Commande.</p>
									<h2>8.1. Licence du Client</h2>
									<p>AJFR concède au Client, qui l’accepte, pour la durée et le territoire prévus à
										l’Article 8.3, une licence non-exclusive, non-cessible et non-transférable
										d’utilisation de l’Application, pour permettre la délivrance des Services
										fournis par l’Application au Client dans la limite de l’Offre effectivement
										souscrite par ce dernier à la Confirmation de Commande (ci-après la « Licence
										»).</p>
									<h2>8.2. Restrictions d’utilisation</h2>
									<p>Le Client s’interdit expressément tout autre acte d’utilisation ou
										d’exploitation, et notamment :

										- A ne pas effectuer une quelconque copie de tout ou partie des solutions
										logicielles composant l’Application ;

										- A ne pas reproduire de façon permanente ou provisoire l’Application mise à
										disposition, en tout ou partie, par tout moyen et sous toute forme, y compris à
										l'occasion du chargement, de l'affichage, de l'exécution ou du stockage du
										logiciel;

										- A ne pas pratiquer l’ingénierie à rebours, décompiler ou désassembler
										l’Application, les programme(s) informatique(s) et solution(s) logicielles, à
										l’exception de ce qui est expressément autorisé par la législation en vigueur ;

										- A ne pas modifier, altérer, adapter ou apporter quelque changement de quelque
										nature que ce soit à la présentation et au contenu de l’Application, des
										programme(s) informatique(s) et solution(s) logicielles, marque, nom commercial,
										logos etc. apposés sur l’Application, sa présentation, soit à ne pas supprimer
										les mentions d’identification et de propriété de l’Application, notamment les
										noms des contributeurs ;

										- A ne pas traduire, adapter, arranger ou modifier en tout ou partie de
										l’Application, de l’exporter, de la fusionner avec d'autres Application mobiles
										informatiques ;

										- A ne pas supprimer ou altérer tels qu'ils peuvent apparaître sur les
										présentations ou dans le contenu de l’Application, des programme(s)
										informatique(s) et solution(s) logicielles ;

										- A ne pas louer, prêter, utiliser les programme(s) informatique(s) et
										solution(s) logicielles dans le but de les partager ou d’une mise à disposition
										de tiers qui ne seraient pas utilisateur autorisé, dans le cadre de temps
										partagé ou de centre de traitement à façon ;

										- A ne pas publier, sauf accord préalable écrit de l’autre Partie, tout test ou
										analyse de performance ou d’évaluation relatifs à l’Application.

										Dans l’hypothèse où le Client envisage d’utiliser l’Application à des fins
										autres que celles prévues aux présentes, celui-ci en avertira par écrit AJFR qui
										pourra, à sa seule discrétion, refuser ou autoriser cette utilisation selon les
										termes et conditions qu’elle définira.</p>
									<h2>8.3. Durée – Territoire</h2>
									La présente Licence est concédée au Client pour l’utilisation des Services sur tous
									les territoires du monde entier pour la même durée que celle indiquée dans la
									Confirmation de Commande. Cette durée pourra être étendue entre les Parties dans
									conditions et modalités indiquées à l’Article 3 ci-avant.
								</div>
								<div class="terms">
									<h3>ARTICLE 9. ASSISTANCE – MAINTENANCE</h3>
									<h2>9.1. Prestations réalisées</h2>
									<p>AJFR apportera au Client un support technique permettant la résolution des
										dysfonctionnements de l’Application grâce à la remontée des informations
										effectuée par le Client et transmises à AJFR, ainsi qu’une maintenance standard
										de l’Application pendant la durée du Contrat.</p>
									<h2>9.1.1. Assistance</h2>
									<p>Le service d’assistance technique s’applique à l’utilisation par le Client de
										l’Application et consiste à assister le Client quant à son usage.

										Le Client, pourra contacter AJFR pendant les Heures et Jours Ouvrés par
										téléphone au 06.12.16.28.39, par email à l’adresse contact.jurisgo@gmail.com.
									</p>
									<h2>9.1.2. Maintenance</h2>
									<p>(i) Prestations réalisées

										Au titre de la maintenance adaptative, AJFR fera ses meilleurs efforts pour
										assurer le maintien en état de fonctionnement de l’Application par la mise à
										disposition de mises à jour. La fourniture de ces mises à jour interviendra en
										fonction des besoins de mise en conformité ou d’évolution technique, dont le
										Client sera immédiatement informé.

										Au titre de la maintenance corrective, le Client signalera toute panne, bug ou
										dysfonctionnement subi par lui, grâce à une fonction dédiée sur son Compte
										Client ou bien, si celui-ci est indisponible, par le formulaire de contact sur
										l’Application. Après l’avoir examiner, AJFR fera ses meilleurs efforts pour les
										corriger dès que possible.</p>
									<h2>9.2. Modalités d’intervention</h2>
									<p>Le Client s’engage, dans le cadre de tout signalement de panne, à décrire
										l’ensemble des dysfonctionnements constatés dans la communication de l’incident
										qu’il transmet à AJFR.

										Suite à cette transmission, AJFR ouvrira un ticket d’incident au nom du Client
										et fera ses meilleurs efforts afin de prendre en charge et résoudre les
										dysfonctionnements constatés dans ses plus brefs délais. En général, ce délai
										n’excède pas vingt-quatre (24) heures pour les dysfonctionnements bloquants et
										quarante-huit (48) heures pour les dysfonctionnements majeurs ou mineurs. La
										détermination de la gravité de l’incident sera réalisée exclusivement et de
										manière discrétionnaire par AJFR.

										Le ticket d’incident est fermé par AJFR quand le Service est restauré. Chaque
										ticket comporte un numéro, le moment où le ticket a été créé, le moment où il a
										été fermé et la durée totale de l’incident.
									</p>
									<h2>9.3. Exclusions</h2>
									<p>Tout autre Service non inclus dans cette section ne sera en aucun cas dû par AJFR
										dans le cadre de la maintenance, en ce compris :

										- La récupération de fichiers qui ont été accidentellement détruits, qui ne
										résulte pas de la négligence grave ou d’une faute délibérée d’AJFR ;

										- Le développement de nouvelles fonctionnalités ou applications ;

										- Ajouts ou modifications aux programmes existants, non requis par une
										modification de la réglementation ;

										- Formation du personnel du Client, ou de ses prestataires de services ;

										- Maintenance de logiciels autres que l’Application qui fonctionnent avec eux
										dans le cadre d’un chaînage ;

										- Maintenance de l’Application si elle a été modifiée ou altérés par des
										personnes ou entités autres que AJFR ;

										- Entretien des accessoires et des fournitures liés à l’Application ;

										- Correction des anomalies, défaillances, etc. découlant de l'environnement du
										Client, et en particulier, des logiciels tiers détenus par le Client ou
										autrement licenciés au Client ;

										- Modifications de l’Application pour une utilisation dans un environnement
										différent de celui prévu dans le Contrat.</p>
									<h2>9.4. Limitations de responsabilité</h2>
									<p>De plus, les cas suivants ne pourront générés aucune responsabilité :

										- indisponibilité d'un réseau ou des services d'opérateurs tiers qui empêchent
										les appels d'atteindre l'infrastructure du Client ou d’un hébergeur tiers ;

										- indisponibilité du service Internet par lequel un système d'information ou un
										serveur informatique supportant tout ou partie du service interactif est
										interconnecté avec l'infrastructure AJFR ;

										- indisponibilité due à la maintenance planifiée de l'infrastructure AJFR ;

										- Volume de trafic Internet dépassant les capacités de l'infrastructure du
										Client ou d’AJFR ;

										- Cas de force majeure.</p>
									<h2>9.5. Hébergement</h2>
									<p>AJFR pourra faire appel aux services de prestataires tiers sélectionnés aux fins
										d’assurer l’hébergement des Données nécessaires à l’utilisation par le Client
										des Services. Les conditions contractuelles liant ledit prestataire à AJFR
										s’imposent au Client en ce que ce dernier ne peut se voir concéder plus de
										droits qui ne sont concédés à AJFR dans le cadre de ladite relation
										contractuelle. Sur demande écrite du Client, avant ou après souscription des
										Services, AJFR lui communiquera les conditions contractuelles applicables à
										l’hébergement des Données dans le cadre de l’utilisation actuelle ou future des
										Services.

										Le Client reconnait et accepte que AJFR puisse, sous réserve de fournir ses
										meilleurs efforts pour maintenir les Services, procéder à un changement ou une
										adjonction de prestataires tiers, et ce en vue d’assurer l’effectivité des
										Services à destination du Client.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 10. OBLIGATIONS GENERALES DU CLIENT</h3>
									<p>Outre ce qui est stipulé par ailleurs, le Client s’engage également, de bonne foi
										:

										(i) A se conformer aux stipulations des présentes et de l’Offre souscrite,

										(ii) A collaborer avec AJFR,

										(iii) A fournir à AJFR les éléments d'information nécessaires à
										l’accomplissement de ses obligations au titre des présentes,

										(iv) A appliquer strictement les instructions données par AJFR et à respecter
										toutes les stipulations des présentes,

										(v) A respecter l’ordre public et les bonnes mœurs ;

										(vi) A se conformer à la législation applicable dans tous les pays où le Client
										utilise l’Application ;

										(vii) A payer le prix des Services fournis par AJFR ;

										(viii) A effectuer toutes les diligences et prendre toutes les mesures possibles
										afin de sauvegarder les Données et d'éviter les pertes éventuelles de celles-ci
										à l'occasion de l'intervention de AJFR.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 11. CONDITIONS FINANCIERES</h3>
									<h2>11.1. Prix</h2>
									<p>Le prix de chaque Offre est défini sur l’Application et celle souscrite par le
										Client est déterminée dans la Confirmation de Commande en fonction des Services
										effectivement inclus dans cette Offre.</p>
									<h2>11.2. Conditions et modalités de paiement</h2>
									<p>La procédure, les modalités et les conditions de paiement sont celles établies
										par la plateforme en ligne sur laquelle l’Application est disponible en
										téléchargement. De même, le Client doit payer le prix de l'Offre par le moyen de
										paiement disponible sur l’Application et mis à sa disposition par la plateforme
										de téléchargement en ligne de l’Application.

										De ce fait, les conditions contractuelles liant ladite plateforme à AJFR
										s’imposent au Client en ce que ce dernier ne peut se voir concéder plus de
										droits qui ne sont concédés à AJFR dans le cadre de ladite relation
										contractuelle.</p>

								</div>
								<div class="terms">
									<h3>ARTICLE 12. ASSURANCES</h3>
									<p>AJFR confirme avoir souscrit une assurance responsabilité civile professionnelle
										suffisante auprès d'une compagnie notoirement solvable pour l'exécution du
										Contrat et des dommages qui pourraient survenir pendant l'exécution du Contrat
										par son personnel ou ses employés. AJFR accepte de maintenir et de renouveler
										ces polices d'assurance en temps opportun, de fournir une preuve d'assurance à
										première demande du Client et de payer les primes régulièrement.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 13. RESPONSABILITE</h3>
									<h2>13.1. Généralités</h2>
									<p>La responsabilité d’AJFR à l’égard du Client ne pourra être recherchée qu’en cas
										de manquement contractuel prouvé commis dans ou à l’occasion de l’exécution des
										prestations mises à sa charge au titre du Contrat.

										AJFR ne pourra être tenue responsable des dommages indirects, des pertes
										financières ou des pertes d’exploitation subis par le Client ou par ses Clients
										de ce fait. En conséquence, le Client renonce à recours à l’encontre d’AJFR et
										contre ses assureurs au-delà de ces limites, tant en nature que sur les
										montants, et s’engage à faire renoncer à recours ses propres assureurs au-delà
										des mêmes limites.

										Si toutefois la responsabilité d’AJFR était retenue devant les tribunaux, le
										Client ne pourrait prétendre à d'autres indemnités et dommages et intérêts ou
										règlement quelconque, toutes causes confondues, qu'au montant des règlements
										effectués par ce dernier au titre des prestations incriminées dans les douze
										(12) mois précédant l’incident ayant provoqués ces dommages.

										A moins qu’il n’en soit autrement stipulé aux présentes, le Client ne pourra
										formuler une réclamation à l’encontre d’AJFR après une période de douze (12)
										mois suivant la découverte de l'événement (ou des événements) ayant provoqué
										l'éventuelle responsabilité.</p>
									<h2>13.2. Limites</h2>
									<p>Le Client est seul responsable vis-à-vis des Tiers pour les Données qu'il
										télécharge, fournit, transfère et partage via l’Application dans le cadre de
										l'utilisation des Services. A ce titre, le Client est notamment seul responsable
										:

										- Du respect de l'ordre public et des bonnes mœurs de ses téléchargements, de la
										mise à disposition, des transferts et du partage des Données via l’Application ;

										- De la conformité de ces téléchargements, fourniture, transferts et partages
										avec la législation, et en particulier en veillant à ce qu'ils ne portent pas
										atteinte aux droits des Tiers.

										De même, AJFR rappelle au Client que l’Application est mise à sa disposition
										dans le cadre de la Licence décrite à l’Article 8 ci-avant afin de bénéficier
										des Services fournis par AJFR. Dans ce cadre, elle ne constitue qu’un outil
										d’aide à la recherche, la mise en contact et au recrutement de Candidats par le
										Client.

										Ainsi, AJFR ne pourra être tenue responsable de l’utilisation personnelle qu’en
										fait le Client. Ce dernier reconnaît et accepte qu’il sera seul responsable en
										cas d’utilisation de l’Application contraire à l’ordre public, aux bonnes mœurs
										ou à toute loi ou règlement français, en particulier à la législation applicable
										en matière de discrimination à l’embauche.</p>

								</div>
								<div class="terms">
									<h3>ARTICLE 14. GARANTIE</h3>
									<p>AJFR ne fait aucune autre garantie expresse ou implicite relativement aux
										Services, y compris, notamment, toute garantie implicite de qualité marchande ou
										d'adéquation de l’Application à un objectif particulier.

										AJFR ne garantit pas les résultats des Services et n'est tenu que d'une
										obligation de moyens. Elle ne garantit pas que les fonctionnalités de
										l’Application satisferont les exigences du Client. Les Parties reconnaissent
										qu'un logiciel peut contenir des erreurs et que toutes les erreurs ne sont pas
										économiquement rectifiables ou qu'il n'est pas toujours nécessaire de les
										corriger. AJFR ne garantit pas en conséquence que l'ensemble des défaillances ou
										erreurs de l’Application sera corrigé.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 15. DONNEES PERSONNELLES</h3>
									<p>"Dans le cadre de l’exécution du présent Contrat, AJFR pourra avoir accès à des
										données à caractère personnel au sens de la loi n°78-17 du 6 janvier 1978
										relative à l’informatique, aux fichiers et aux libertés et du règlement européen
										2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à
										l’égard du traitement des données à caractère personnel et à la libre
										circulation des données (RGPD) (ci-après les « Données Personnelles »)."

										Ces données peuvent être de toute nature, en ce incluant des données relatives à
										l’identification et aux coordonnées des personnes concernées, leur vie
										professionnelle, ou encore des données de connexion et de traçabilité, et plus
										généralement l’ensemble des données à caractère personnel qui seraient
										nécessaires pour l’exécution du présent Contrat.</p>
									<h2>15.1. Collecte des Données Personnelle</h2>
									<p>Les données à caractère personnel qui sont collectées par l’Application sont les
										suivantes :</p>
									<h2>15.1.1. Ouverture de compte</h2>
									<p>Lors de la création du Compte Client les Données Personnelles suivantes seront
										collectées :

										- Nom de la société,

										- Adresse email du Client,

										- Lieu d’activité,

										- Numéro de téléphone fixe et/ou mobile du Client.
									</p>
									<h2>15.1.2. Communication</h2>
									<p>Lorsque l’Application est utilisée pour communiquer avec d’autres membres, les
										données concernant les communications du Client font l’objet d’une conservation
										temporaire.</p>
									<h2>15.1.3. Connexion</h2>
									<p>Lors de la connexion du Client à l’Application, celle-ci enregistre, notamment,
										ses noms, prénoms, données de connexion, d’utilisation et de localisation.</p>
									<h2>15.1.4. Cookies</h2>
									<p>Les cookies sont utilisés, dans le cadre de l’utilisation de l’Application. Le
										Client a la possibilité de désactiver les cookies à partir des paramètres de son
										navigateur.</p>
									<h2>15.2. Utilisation des Données Personnelles</h2>
									<p>Les Données Personnelles collectées auprès du Client ont pour objectif la mise à
										disposition des Services fournis par l’Application, leur amélioration et le
										maintien d’un environnement sécurisé.

										Plus précisément, les utilisations sont les suivantes :

										- Accès et utilisation de l’Application par le Client ;

										- Gestion du fonctionnement et optimisation de l’Application ;

										- Vérification, identification et authentification des données transmises par le
										Client ;

										- Mise en œuvre d’une assistance utilisateur ;

										- Prévention et détection des fraudes, malwares (malicious software ou logiciels
										malveillants) et gestion des incidents de sécurité ;

										- Envoi d’une newsletter au Client ;

										- Envoi d’informations relatives à l'usage de l’Application, ses mises à jours,
										ses évolutions, ou autre, par message personnel au Client ;

										- Réalisation d’études statistiques.</p>
									<h2>15.3. Conservation des données</h2>
									<p>Les données personnelles seront conservées par AJFR pendant :

										- 1 année</p>
									<h2>15.4. Partage des Données Personnelles avec des tiers</h2>
									<p>Les Données Personnelles peuvent être partagées avec des sociétés tierces dans
										les cas suivants :

										- Lorsque le Client publie, dans les zones de commentaires libres de
										l’Application, des informations accessibles au public ;

										- Lorsque le Client utilise les services de paiement, pour la mise en œuvre de
										ces Services, AJFR est en contact avec des sociétés bancaires et financières
										tierces avec lesquelles elle a des contrats ;

										- Quand le Client autorise le site web d’un tiers à accéder à ses Données
										Personnelles ;

										- Quand AJFR recourt aux services de prestataires pour fournir l’assistance
										utilisateurs. Ces prestataires disposent d’un accès limité aux Données
										Personnelles, dans le cadre de l’exécution de ces prestations et ont une
										obligation contractuelle de les utiliser en conformité avec les dispositions de
										la réglementation applicable en matière de protection de données à caractère
										personnel ;

										- Si la loi l’exige, AJFR peut effectuer la transmission de Données Personnelles
										pour donner suite aux réclamations présentées contre AJFR et se conformer aux
										procédures administratives et judiciaires ;

										- Si AJFR est impliquée dans une opération de fusion, acquisition, cession
										d’actifs ou procédure de redressement judiciaire, elle pourra être amenée à
										céder ou partager tout ou partie de ses actifs, y compris les données à
										caractère personnel. Dans ce cas, le Client sera informé, avant que les données
										à caractère personnel ne soient transférées à une tierce partie.</p>
									<h2>15.5. Sécurité et confidentialité</h2>
									<p>AJFR met en œuvre des mesures organisationnelles, techniques, logicielles et
										physiques en matière de sécurité du numérique pour protéger les Données
										Personnelles contre les altérations, destructions, et accès non autorisés.
										Toutefois, il est à signaler qu’internet n’est pas un environnement complétement
										sécurisé et qu’à ce titre AJFR ne peut pas garantir la sécurité de la
										transmission ou du stockage des informations sur internet.</p>
									<h2>15.6. Mise en œuvre des droits des personnes concernées</h2>
									<p>Il est rappelé qu’il appartient à AJFR, en tant que responsable du traitement, de
										recueillir tout consentement nécessaire auprès des personnes physiques
										concernées, en corrélation avec les finalités poursuivies. En outre, les
										personnes concernées disposent sur les données personnelles les concernant des
										droits d’accès, de rectification, d’effacement, de limitation, de portabilité et
										d’opposition, et peuvent à tout moment révoquer les consentements aux
										traitements. Les personnes

										concernées seront susceptibles de faire valoir leurs droits directement auprès
										d’AJFR, qui s’engage à y faire droit dans les délais réglementaires.

										Dans ce cadre, le Client dispose des droits suivants :

										- Ils peuvent supprimer leur compte directement depuis l’Application ;

										- Ils peuvent exercer leur droit d’accès, pour connaître les données
										personnelles les concernant, en écrivant à l’adresse électronique suivante
										contact.jurisgo@gmail.com. Dans ce cas, avant la mise en œuvre de ce droit, AJFR
										peut demander une preuve de l’identité au Client afin d’en vérifier l’exactitude
										;

										- Si les Données Personnelles détenues par AJFR sont inexactes, ils peuvent
										demander la mise à jours des informations, en écrivant à l’adresse électronique
										suivante : contact.jurisgo@gmail.com.Ils peuvent demander la suppression de
										leurs Données Personnelles, conformément aux lois applicables en matière de
										protection des données, en écrivant à l’adresse électronique suivante :
										contact.jurisgo@gmail.com</p>
									<h2>15.7. Evolution de la présente clause</h2>
									<p>AJFR se réserve le droit d’apporter toute modification à la présente clause
										relative à la protection des Données Personnelles à tout moment. Si une
										modification est apportée à la présenté clause, AJFR s’engage à publier une
										nouvelle version des CGS sur son Application. AJFR en informera également le
										Client de la modification par messagerie électronique dans un délai minimum de
										quinze (15) jours avant la date d’effet. Si le Client n’est pas d’accord avec
										les termes de la nouvelle rédaction de la clause de protection des données à
										caractère personnel, il a la possibilité de supprimer son Compte.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 16. CONFIDENTIALITE – NON DIVULGATION</h3>
									<p>Sont considérées comme confidentielles toutes informations, données, et tous
										documents de toute nature communiqués par l'une des Parties à l'autre pour les
										besoins du Contrat, par oral, écrit ou par voie électronique et incluant, sans
										restriction, tout concept, stratégie industrielle, plan marketing, compte-rendu
										de réunion, mémorandum, analyse, maquette, dessin, prototype, échantillon,
										modèle, amélioration, perfectionnement, développement, méthodologie, marque de
										fabrique, logiciel, progiciel, savoir-faire, que ces informations soient ou non
										protégeables au titre du droit de la propriété intellectuelle et industrielle
										(ci-après les « Informations Confidentielles »).

										Les informations n’étant pas spécifiquement désignées comme étant
										confidentielles sont traitées comme telles lorsqu’on peut raisonnablement
										estimer qu’elles fournissent à un tiers un avantage financier ou concurrentiel
										ou lorsque leur révélation peut constituer un préjudice financier pour l’une ou
										l’autre des Parties.

										Chacune des Parties s'engage à mettre en œuvre les moyens appropriés pour garder
										le secret le plus absolu sur les Informations Confidentielles transmises par
										l'autre Partie et/ou auxquelles elle aurait eu accès à l'occasion de l'exécution
										du présent Contrat.

										Toutefois, aucune des Parties n’est responsable des actes illégaux de tiers ou
										tous autres actes indépendants de sa volonté pouvant entraîner des violations de
										l’obligation de confidentialité.

										L'obligation de confidentialité ne s’applique pas aux informations :

										(i) qui étaient connues de l’une des Parties, sans obligation de secret, avant
										leur transmission par l’autre Partie ;

										(ii) qui sont obtenues de tiers par l’une des Parties, de manière légitime ;

										(iii) qui sont développées indépendamment par l’une des Parties ;

										(iv) qui sont ou deviennent publiquement disponibles, sans qu’il y ait violation
										des engagements pris par chacune des Parties au titre du Contrat ;

										(v) qui sont révélées de manière raisonnable aux employés, fournisseurs,
										prestataires ou autres, pour l’exécution de ce Contrat ;

										(vi) qui doivent être révélées par la loi ou une autorité compétente.

										Les Parties feront signer aux tiers pouvant intervenir dans l’exécution de tout
										ou partie du présent Contrat, un engagement de confidentialité garantissant
										l’application du présent Article. Chacune des Parties pourra demander à l'autre
										communication d'une copie de ces engagements.

										En outre, les Parties s’engagent à obtenir des accords de confidentialité,
										concernant les Informations Confidentielles définies précédemment, de la part
										des membres du personnel qui en auraient connaissance ou qui pourraient en avoir
										connaissance dans le cadre de l’exercice de leurs fonctions ou par tout autre
										moyen.

										Les stipulations du présent Article resteront en vigueur pendant les cinq (5)
										années qui suivront la communication de chacune des Informations
										Confidentielles.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 17. PROPRIETE INTELLECTUELLE</h3>
									<h2>17.1. Propriété des éléments préexistants</h2>
									<p>Tous les outils, méthodes, œuvres, logiciels, algorithmes, savoir-faire,
										inventions brevetables, brevets, ou autre éléments susceptibles d'appropriation
										intellectuelle, propriété de l'une ou l'autre Partie antérieurement à la date
										d’entrée en vigueur de la présente convention ou qui sont développés ou acquis
										indépendamment de l’exécution de celle-ci, sont utilisés, même partiellement,
										dans le cadre des prestations, objet des présentes, lesdits éléments restent la
										propriété exclusive de la Partie qui en est détentrice, l'autre Partie devant
										souscrire les accords ou licences adéquats pour bénéficier de leur utilisation
										légitime.

										A ce titre, AJFR conserve la propriété exclusive de tous les droits de propriété
										intellectuelle et industrielle associés à l’Application, à savoir:

										- Tous les droits de propriété intellectuelle et savoir-faire relatifs à
										l’Application;

										- Tous les droits de propriété intellectuelle sur le logiciel et les
										développements qui composent l’Application, qu'ils soient autorisés ou non.

										Le Client reconnait et accepte que, sauf disposition contraire exprimée par
										ailleurs aux présentes CGS, il n’acquiert aucun droit sur les actifs immatériels
										appartenant à AJFR.</p>
									<h2>17.2. Garantie de jouissance paisible</h2>
									<p>AJFR prendra à sa charge tous dommages-intérêts auxquels pourrait être condamné
										le Client par une décision de justice devenue définitive et ayant pour base
										exclusive la démonstration d'une contrefaçon de droit d'auteur ou de brevet
										imputable à l’Application. Les dispositions ci-dessus sont soumises aux
										conditions cumulatives suivantes :

										- que le Client ait notifié à bref délai, l'action en contrefaçon ou la
										déclaration ayant précédé cette action, et,

										- qu’AJFR ait été en mesure d'assurer librement la défense de ses propres
										intérêts et ceux du Client et que, pour ce faire, le Client ait collaboré
										loyalement à ladite défense en fournissant, en temps utile, tous les éléments,
										informations et assistance nécessaires pour mener à bien une telle défense.

										Dans le cas où l'interdiction d'utilisation de tout ou partie des éléments
										serait prononcée en conséquence d'une action en contrefaçon, ou résulterait
										d'une transaction signée avec le demandeur à l'action en contrefaçon, AJFR
										s'efforcera, à son choix et à ses frais :

										- soit d'obtenir le droit pour le Client de poursuivre l'utilisation des
										éléments visés ;

										- soit de remplacer les éléments de façon à éviter ladite contrefaçon.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 18. RESILIATION</h3>
									<h2>18.1. Prise d’effet de la résiliation</h2>
									<p>En cas de manquement d'une des Parties à l’une des obligations mises à sa charge
										au titre du présent Contrat et considérée par l’autre Partie comme essentielle,
										l'autre Partie pourra, trente (30) jours à compter de la date de réception, ou à
										défaut de la date de première présentation d'une lettre de mise en demeure
										recommandée avec demande d'avis de réception restée infructueuse, prononcer la
										résiliation de plein droit du Contrat, sans préavis ni formalité judiciaire ou
										autre et sans préjudice de tous autres droits ou actions notamment en vue de
										solliciter tous dommages et intérêts auxquels elle pourrait prétendre.

										Les obligations d’AJFR considérées comme essentielles par et pour le Client sont
										celles issues des Articles 8, 9, 15, 16 et 17.2.

										Les obligations du Client considérées comme essentielles par et pour AJFR sont
										celles issues des Articles 10, 11, 16 et 17.1.</p>
									<h2>18.2. Conséquences de la résiliation</h2>
									<p>En cas de résiliation, quelle qu’en soit la cause, tous les droits d’utilisation
										concédés au titre des présentes cesseront immédiatement.

										Toute obligation de versement qui serait née d’une prestation réalisée ou en
										cours antérieurement à la résiliation devra être acquittée par le Client dans
										les plus brefs délais suivant ladite résiliation. Le cas échéant, en vue de
										faciliter les comptes entre les Parties, un rapport sur l’état des prestations
										effectuées sera établi par AJFR et une copie sera remise au Client.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 19. REVERSIBILITE</h3>
									<p>A la fin du Contrat, quelle qu’en soit la cause, AJFR s’engage à restituer ou
										éventuellement détruire ses Données, à tout moment convenu ensemble entre les
										Parties. Dans ce cas, lesdites Données seront transférées au Client sous un
										format standard lisible par le Client.</p>
								</div>
								<div class="terms">
									<h2>ARTICLE 20. FORCE MAJEURE</h2>
									<p>Pour pouvoir bénéficier des stipulations du présent Article, la Partie souhaitant
										invoquer un cas de force majeure devra, sous peine de forclusion, le notifier à
										l'autre Partie par lettre recommandée avec demande d'avis de réception dès
										qu'elle aura connaissance de la survenance d'un tel événement et au plus tard,
										dans un délai de huit (8) jours à compter de l'apparition dudit événement, en
										justifiant, conformément aux dispositions du Code civil, la qualification de
										force majeure de l’événement la mettant selon elle dans l'impossibilité
										d'entreprendre ou de poursuivre l'exécution de ses obligations et en démontrant
										l'impact dudit événement sur l’inexécution de ses obligations.

										Pendant sa durée, l'événement de force majeure suspend pour la Partie s'en
										prévalant, l'exécution des obligations impactées.

										Dans tous les cas, la Partie dont les obligations sont impactées par l'événement
										de force majeure devra faire tout ce qui est en son pouvoir afin d'éviter,
										éliminer ou réduire les causes du retard et reprendre l'exécution de ses
										obligations dès que l'événement invoqué aura disparu.

										Si le cas de force majeure venait à excéder trente (30) jours à compter de la
										notification visée plus haut, il serait considéré comme un empêchement définitif
										au sens des dispositions du Code civil : le Contrat serait alors résilié de
										plein droit et les Parties libérées de leurs obligations dans les conditions et
										selon les modalités prévues au dit Code.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 21. CESSION - TRANSMISSIBILITE</h3>
									<p>Les Parties s'interdisent de céder le Contrat ou l'un quelconque des droits et/ou
										obligations de celui-ci à un Tiers à quelque titre, pour quelque cause et sous
										quelque forme que ce soit, sans avoir préalablement informé l’autre Partie par
										écrit et recueilli son consentement exprès.

										Cependant, il est d’ores-et-déjà accepté entre les parties que AJFR, à la
										condition d’en avoir informé le Client, pourra transférer ses droits et
										obligations au titre du Contrat à l’une de ses filiales ou société mère.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 22. NOTIFICATIONS</h3>
									<p>Sauf dans les cas où une stipulation des présentes en dispose autrement, il
										résulte d’un accord exprès entre les Parties que les échanges entre elles
										pourront intervenir par tous moyens, notamment par messagerie électronique aux
										adresses e-mail mentionnées dans leurs correspondances, sur le Site pour AJFR,
										ou dans tout autre document.

										Les Parties conviennent que l'impression d'un courriel sur papier sera valable
										comme preuve du contenu des échanges.

										Les Parties doivent mettre en œuvre toutes les mesures de sécurité pour assurer
										la disponibilité, l'intégrité et la confidentialité des fichiers électronique
										envoyés par Internet.

										Dans le même temps, elles doivent mettre en œuvre toutes les mesures appropriées
										telles que pare-feu et logiciels anti-virus mis à jour régulièrement et
										correctement afin de se protéger le plus efficacement possible contre les
										intrusions, les attaques et la propagation des virus pour assurer la
										disponibilité, l'intégrité et la confidentialité des fichiers électroniques
										reçus.

										Les Parties doivent également enregistrer tous les messages envoyés entre elles
										de la manière la plus appropriée et la plus sûre possible.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 23. TOLERANCE</h3>
									<p>Le fait que l'une des Parties ne réclame pas l'application de toute stipulation
										du Contrat ou acquiesce à son inexécution, ou ne se prévale pas de l'application
										de certaines dispositions légales ou réglementaires, que ce soit de façon
										permanente ou temporaire, ponctuelle ou récurrente, ne peut être interprété
										comme une renonciation par cette Partie à faire valoir les droits en question.
									</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 24. INTEGRALITE</h3>
									<p>Les présentes dispositions, en cela sont inclues les dispositions des
										Confirmations de Commande, constituent l’intégralité du Contrat des Parties et
										remplacent en tous points les accords, lettres d’intention, courriers et
										propositions antérieures entre elles, quelle qu’en soit la forme ou
										l’appellation et portant sur le même objet.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 25. DIVISIBILITE</h3>
									<p>Si l’une quelconque des dispositions du Contrat est annulée en tout ou partie, la
										validité des dispositions restantes du Contrat n’en sera pas affectée. Dans ce
										cas, les Parties devront, si possible, remplacer cette disposition annulée par
										une disposition valable correspondant à l’esprit et à l’objet du Contrat.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 26. DROIT APPLICABLE</h3>
									<p>Le présent Contrat est soumis au droit français, à l'exclusion de toute autre
										législation. En cas de rédaction du présent Contrat en plusieurs langues, seule
										la version française fera foi.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 27. REGLEMENT DES LITIGES</h3>
									<p>En vue de trouver ensemble une solution à tout litige qui surviendrait dans
										l'exécution du présent Contrat, les Parties conviennent de se réunir dans un
										délai de QUINZE (15) jours à compter de la réception d'une lettre recommandée
										avec demande d'avis de réception, notifiée par l'une des deux Parties, ou d’un
										courriel signé numériquement.

										Si au terme d'un nouveau délai de QUINZE (15) jours, les Parties ne parvenaient
										pas à se mettre d'accord sur un compromis ou une solution elles conviennent de
										recourir avant toute saisine des juridictions à une convention de procédure
										participative telle que régie par les articles 2062 à 2068 du code civil.

										La procédure participative sera d’une durée maximum de six (6) mois renouvelable
										une (1) fois pour la même durée, les Parties s’engageant à œuvrer conjointement
										et de bonne foi à la résolution amiable de leur éventuel différend.

										Les Parties sont informées que l’absence de mise en œuvre de la procédure
										participative, prévue au présent paragraphe, rend irrecevable tout recours au
										juge pour qu’il statue sur le litige.

										En cas d’échec de la procédure participative, le litige sera alors porté à la
										connaissance des tribunaux compétents du lieu d’établissement d’AJFR.</p>
								</div>
								<div class="terms">
									<h3>ARTICLE 28. ELECTION DE DOMICILE</h3>
									<p>Pour l'exécution des présentes ainsi que de leurs suites, les Parties font
										respectivement élection de domicile en leurs sièges sociaux ou lieu
										d’établissement, tel que rappelé à la Confirmation de Commande. Toute
										modification du siège social ou de l'adresse de l'une des Parties ne sera
										opposable à l'autre Partie que huit (8) jours après lui avoir été dûment
										notifiée par lettre recommandée avec demande d’avis de réception ou par courriel
										signé numériquement.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include bottom_footer.ejs -%>

	</div>

	<script src="javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="javascripts/modernizr.js" type="text/javascript"></script>
	<script src="javascripts/script.js" type="text/javascript"></script>
	<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="javascripts/wow.min.js" type="text/javascript"></script>
	<script src="javascripts/slick.min.js" type="text/javascript"></script>
	<script src="javascripts/parallax.js" type="text/javascript"></script>
	<script src="javascripts/select-chosen.js" type="text/javascript"></script>

</body>

</html>