<p>Bonjour,</p>

<p>Nous vous remercions pour votre inscription sur notre application <B>Juris'Go</B> dédiée exclusivement à l'emploi en
        cabinet d'avocat et au secteur juridique.</p>

<p><B>Elle a été sélectionnée par l'incubateur du Barreau de Marseille lors d'un prix d'innovation le 28 juin dernier
                et le
                19 juin 2019, primée PRIX COUP DE CŒUR de l'incubateur du Barreau de Toulouse le 3 octobre dernier et
                plébiscitée par
                le Barreau de Bobigny.</B></p>

<p>N'oubliez pas de remplir correctement :<br>
        - votre adresse mail et numéro de téléphone,<br>
        - le type de contrat recherché,<br>
        - votre statut professionnel (clerc, collaborateur, secrétaire etc...).
        - votre expérience<br>
        - votre formation<br>
        - et surtout autoriser la géolocalisation (obligatoire sinon les recruteurs ne pourront pas voir votre profil).<br></p>
<p>Nous tenons à vous rappeler les critères qui permettent le matching avec le recruteur :<br>
        <span style="color:#951B3F;"><B> 1. La formation<br>
                        2. L’expérience<br>
                        3. Le type de contrat<br>
                        4. Les compétences<br>
                        5. La localisation</B></span></p>

<p><B>N'oubliez pas de nous informer si vous êtes contacté(e) par des recruteurs grâce à Juris'Go.</B></p>

<p>A vous lire,<br><br>
        Bien à vous.</p>